{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}



{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" >
            <option disabled selected value="">Symbol</option>
            {% for element in symbol %}
            <option value="{{ element.symbol }}">{{ element.symbol }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}

<!--

    <form action="/sell" method="post">
        <div class="dropdown" name="symbol">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Symbol
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for element in symbol %}
                <a class="dropdown-item" value="{{ element.symbol }}">{{ element.symbol }}</a>
                {% endfor %}
                </div>

        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

-->